<html ng-app="portfolio">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-animate.js"></script>    
    <link rel="stylesheet" type="text/css" href="portfolio.css">
    <script>

        angular.module('portfolio', ['ngAnimate']);
        function Ctrl($scope, $http) {      
            $scope.dramaFreeDescDisplay = false;
            $scope.deathStatsDescDisplay = false;
            $scope.hostListDescDisplay = false;

            $scope.indexDisplayed = true;

            $scope.showDesc = function(desc) {
                $scope.indexDisplayed = false;
                $scope[desc] = true;
            }

            $scope.showIndex = function() {
                $scope.indexDisplayed = true;
                $scope.dramaFreeDescDisplay = false;
                $scope.deathStatsDescDisplay = false;
                $scope.hostListDescDisplay = false;
                document.body.scrollTop = document.documentElement.scrollTop = 0;
            }
        }

    </script>
</head>
<body ng-controller="Ctrl">
    <a name='top' />
    <div class='container'>
    	<div id='main'>
            <div id='navbar'>
                <span ng-click='showIndex()'>Home</span>
            </div>
            <div id='titleBar'>
                <h1>Seanna Musgrave portfolio</h1>
            </div>            
            <div id='content'>
                <div id='index' ng-show='indexDisplayed'>
                    <div id='indexContent'>
                        <div class='portItem' ng-click='showDesc("deathStatsDescDisplay")'>
                            <img class='portScreenshot' src='DeathStatsSmall.png'/>
                            <p class='projectTitle'>Death stats</p>
                        </div>
                        <div class='portItem' id='DramaFree' ng-click='showDesc("dramaFreeDescDisplay")'>
                            <img class='portScreenshot' src='DramaFreeSmall.png'/>
                            <p class='projectTitle'>Drama Free</p>
                        </div>
                        <div class='portItem' id='HostList' ng-click='showDesc("hostListDescDisplay")'>
                            <img class='portScreenshot' src='HostList.png'/>
                            <p class='projectTitle'>Host List for U.S. Servas</p>
                        </div>
                    </div>
                </div>
                <div id='dramaFreeDesc' class='desc' ng-show='dramaFreeDescDisplay'>
                    <img class='portScreenshot' src='DramaFreeSmall.png'/>
                    <p><a href='http://www.transfixedgames.com/BallOfHate/ballOfHate.html'>Website</a></p>
                    <p><a href='https://github.com/evilseanbot/BallOfHate'>Github</a></p>
                    <h3>Personal project</h3>
                    <p>Website to help with party planning, allows users to anonymously submit which of their friends have personal conflicts with their other friends, so anyone planning a party can search groups for personal conflicts.</p>

                    <h3>Tech: </h3>
                    <ul>
                        <li>HTML/CSS/Javascript</li>
                        <li>Facebook Graph API</li>
                        <li>jQuery</li>
                        <li>JQuery UI</li>
                        <li>Server-side Python</li>
                        <li>MySQL</li>
                    </ul>

                    <h3>Features: </h3>
                    <ul>
                        <li>Autocomplete search string from users facebook friends</li>
                        <li>Fairly complex graph algoritihm to effieciently find group conflicts in minimal time. </li>
                    </ul>
                    <p><button ng-click='showIndex()'>Back to project index</button></p>
                </div>
                <div id='deathStatsDesc' class='desc' ng-show='deathStatsDescDisplay'>
                    <img class='portScreenshot' src='DeathStatsSmall.png'/>
                    <p><a href='http://www.transfixedgames.com/DeathStats/DeathStats.html'>Website</a></p>
                    <p><a href='https://github.com/evilseanbot/DeathStats'>Github</a></p>
                    <h3>Personal project</h3>
                    <p>Website that allows people to see statistical probabilities of when they will die, along with probabilities of dying from different causes per year.</p>

                    <h3>Tech: </h3>
                    <ul>
                        <li>HTML/CSS/Javascript</li>
                        <li>Angular.js</li>
                        <li>Server-side Python</li>
                        <li>Twitter Bootstrap</li>
                    </ul>

                    <h3>Features: </h3>
                    <ul>
                        <li>Reads CSV data gathered from the CDC on death probailities and causes by age and gender.</li>
                    </ul>
                    <p><button ng-click='showIndex()'>Back to project index</button></p>
                </div>
                <div id='hostListDesc' class='desc' ng-show='hostListDescDisplay'>
                    <img class='portScreenshot' src='HostList.png'/>
                    <p>Website only available for members.</a></p>
                    <p><a href='https://github.com/evilseanbot/servas-host-list-gen'>Github</a></p>
                    <h3>Project for U.S. Servas</h3>
                    <p>This application generates PDFs for US Servas's Member listings from the Server.

    The files are generated natively in PDF format using the FPDF/FPDI libraries, in order to minimize size. The goals of the application is to be generate the file very quickly, at a reasonable size (Currenty 2.5MB), easily visually editable (The desired appearance of the host list changes frequently) and to be maintanable.</p>

                    <h3>Tech: </h3>
                    <ul>
                        <li>PHP</li>
                        <li>PostgreSQL</li>
                        <li>FPDF/FPDI</li>
                    </ul>

                    <h3>Features: </h3>
                    <ul>
                        <li>Generates a PDF on demand based on extensive data (21 tables) on U.S. Servas members.</li>
                        <li>Dynamicly updated table of contents</li>
                    </ul>
                    <p><button ng-click='showIndex()'>Back to project index</button></p>
                </div>
            </div>
		</div>
	</div>
</body>
</html>